/* <weight>: Use a value from 100 to 900
 <uniquifier>: Use a unique and descriptive class name */

/* FONT STYLING
.fraunces-<uniquifier> {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}  */

/* LOGO FONT
font-size: 13.8vw; 
font-family: 'Fraunces'; */

/* GENERAL STYLE  */
body {
  background-color: pink;
  font-family: "Arial";
}

/* ADDS FERVE'S FONT TO THE LOGO */
.FrauncesText {
  font-family: "Fraunces", serif;
  font-weight: 251;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.section {
  margin-top: 3rem;
}

/* ABOUT */

/* INDEX */

#logo {
  font-size: 13.8vw;
  font-family: "Fraunces", serif;
}

#floating-logo {
  position: absolute;
  top: 15px;
  left: 20px;
  animation: bouncePath 40s linear infinite;
}

@keyframes bouncePath {
  /* START & END */
  0% {
    top: 75px;
    left: 0px;
  }

  /* POINT #2 */
  19% {
    top: 245px;
    left: calc(100vw - 417px);
  }

  /* POINT #3  */
  27% {
    top: calc(100vh - 220px);
    left: calc(100vw - 707px);
  }

  /* POINT #4 */
  39% {
    top: 0;
    left: calc(100vw - 978px);
  }

  /* POINT #5 */
  49% {
    top: calc(100vh - 540px);
    left: 0px;
  }

  /* POINT #6  */
  58% {
    top: calc(100vh - 220px);
    left: 155px;
  }

  /* POINT #7 */
  74% {
    top: 120px;
    left: calc(100vw - 417px);
  }

  /* POINT #8  */
  84% {
    top: 0px;
    left: 2000x;
  }

  /* POINT #9  */
  100% {
    top: 75px;
    left: 0px;
  }
}

/* @keyframes bounce {
   0% {
    top: 15px;
    left: 20px;
  }
  25% {
    top: 40vh;
    left: calc(100vw - 417px);
  }
  35% {
    top: calc(100vh - 220px);
    left: calc(100vw - 615px);
  }
  75% {
    top: 0;
    left: calc(100vw - 410px);
  }
  100% {
    top: 0;
    left: calc(100vw - 410px);
  } */

/* MAIN */
main {
  padding-left: 19px;
  padding-right: 19px;
  flex: 1;
}

/* FOOTER */
footer {
  position: sticky;
  bottom: 0px;
}

/* IMAGE TEXT ON HOVER */
.image-container {
  position: relative;
  display: inline-block;
  width: 300px; /* optional */
}

.image-container img {
  width: 100%;
  display: block;
  transition: 0.3s ease;
}

/* The overlay text */
.overlay-text {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(220, 220, 220, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 1.5rem;
  opacity: 0;
  transition: 0.3s ease;
  text-align: center;
  pointer-events: none; /* so the hover works smoothly */
}

/* On hover: image gets darker and text appears */
.image-container:hover img {
  filter: brightness(30%);
}

.image-container:hover .overlay-text {
  opacity: 1;
}
