/* <weight>: Use a value from 100 to 900
 <uniquifier>: Use a unique and descriptive class name */

/* FONT STYLING
.fraunces-<uniquifier> {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}  */

/* LOGO FONT
font-size: 13.8vw; 
font-family: 'Fraunces'; */

/* COLORS */
/* HEX */
/* --carbon-black: #161A1D;
--dark-red: #660708;
--red: #BA181B;
--grey: #D3D3D3; 
--light-grey: #F5F3F4;
--white: #FFFFFF;
*/

/* TO SEE THE LAYOUT */

/* .col-md-4,
.col-md-4,
.row {
  border: solid 2px black;
}

.row {
  border: solid 2px yellow;
  padding: 3px;
}

.col-12,
.col-1,
.col-4,
.col-3 {
  border: solid 2px blue;
} */

/* GENERAL STYLE  */
body {
  font-family: "Arial";
}

/* ADDS FERVE'S FONT TO THE LOGO */
.FrauncesText {
  font-family: "Fraunces", serif;
  font-weight: 251;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

.logo-navbar {
  font-size: 1.7rem;
}

.section {
  margin-top: 3rem;
}

.hide-small {
  display: none;
}

/* ABOUT */

.hidden-photo {
  width: 90%;
  height: auto;
  margin-left: 5%;
  visibility: hidden;
}

#about-photo {
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
}

#about-photo img {
  width: 90%;
  height: auto;
}

.about-text {
  width: 90%;
  margin-left: 5%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
}

.strong-text {
  font-size: 1.5rem;
}

/* PORTFOLIO */

.modal-dialog {
  max-height: 90vh; /* prevent overflow */
}

.modal-body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-img {
  max-width: 100%;
  max-height: 85vh; /* keeps images inside screen height */
  width: auto;
  height: auto;
  object-fit: contain;
  margin: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* black */
}

/* INDEX */

#logo {
  font-size: 13.8vw;
  font-family: "Fraunces", serif;
}

#floating-logo {
  position: absolute;
  top: 15px;
  left: 20px;
  animation: bouncePath 40s linear infinite;
}

@keyframes bouncePath {
  /* START & END */
  0% {
    top: 75px;
    left: 0px;
  }

  /* POINT #2 */
  19% {
    top: 245px;
    left: calc(100vw - 417px);
  }

  /* POINT #3  */
  27% {
    top: calc(100vh - 220px);
    left: calc(100vw - 707px);
  }

  /* POINT #4 */
  39% {
    top: 0;
    left: calc(100vw - 978px);
  }

  /* POINT #5 */
  49% {
    top: calc(100vh - 540px);
    left: 0px;
  }

  /* POINT #6  */
  58% {
    top: calc(100vh - 220px);
    left: 155px;
  }

  /* POINT #7 */
  74% {
    top: 120px;
    left: calc(100vw - 417px);
  }

  /* POINT #8  */
  84% {
    top: 0px;
    left: 2000x;
  }

  /* POINT #9  */
  100% {
    top: 75px;
    left: 0px;
  }
}

/* @keyframes bounce {
   0% {
    top: 15px;
    left: 20px;
  }
  25% {
    top: 40vh;
    left: calc(100vw - 417px);
  }
  35% {
    top: calc(100vh - 220px);
    left: calc(100vw - 615px);
  }
  75% {
    top: 0;
    left: calc(100vw - 410px);
  }
  100% {
    top: 0;
    left: calc(100vw - 410px);
  } */

/* MAIN */
main {
  padding-left: 19px;
  padding-right: 19px;
  flex: 1;
  padding-bottom: 80px;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* IMAGE TEXT ON HOVER */
.image-container {
  position: relative;
  overflow: hidden;
}

/* wrapper that shrinks to the image size */
.image-figure {
  position: relative; /* the overlay will be positioned relative to this */
  display: inline-block; /* shrinkwrap to the image's dimensions */
  line-height: 0; /* remove descender gaps around img */
}

/* keep Bootstrap responsive image behaviour inside the .image-figure */
.image-figure img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* overlay positioned relative to the image-figure, so it matches image size */
.image-figure .overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  padding: 1rem;
  box-sizing: border-box;

  /* these 5 let the text wrap */
  white-space: normal; /* allow normal wrapping */
  overflow-wrap: break-word; /* break long words */
  word-wrap: break-word; /* legacy safe fallback */
  min-width: 0;
  line-height: 1.2; /* reset any inherited 0 line-height */
}

/* hover brightness effect still triggered on the outer container */
.image-container:hover img {
  /* filter: brightness(30%); */
  filter: opacity(0.3);
}

.image-container:hover .overlay-text {
  opacity: 1;
}

/* TABLET AND MEDIUM SCREENS */
@media (min-width: 768px) {
  /* ABOUT PAGE MEDIUM SCREENS */

  /* GENERAL MEDIUM STYLE */

  .hide-small {
    display: block;
  }

  /* ABOUT MEDIUM STYLE */

  #about-photo {
    position: static;
    width: 50vw;
    z-index: 999;
  }

  #about-photo img {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  /* GALLERY PAGE MEDIUM SCREENS */

  #gallery .gallery-photo {
    min-height: 400px;
  }
}

/* LAPTOP AND DESKTOP SCREENS */
@media (min-width: 992px) {
  /* GALLERY PAGE LARGE SCREENS */

  #gallery .gallery-photo {
    min-height: 600px;
  }
}
